{% extends 'base.html' %}{% block content %}
<h3>Серверы</h3>
<form method="post" action="/servers/create" class="row g-2">
<input class="form-control" name="name" placeholder="Имя" required>
<input class="form-control" name="endpoint" placeholder="Endpoint" value="127.0.0.1:51820">
<input class="form-control" name="address" placeholder="Address" value="10.0.0.1/24">
<input class="form-control" name="interface_name" placeholder="wg0" value="wg0">
<button class="btn btn-success">Создать сервер</button>
</form><hr>
<table class="table table-dark"><tr><th>ID</th><th>Name</th><th>Endpoint</th><th>Mode</th></tr>
{% for s in servers %}<tr><td>{{ s.id }}</td><td>{{ s.name }}</td><td>{{ s.endpoint }}</td><td>{{ s.mode }}</td></tr>{% endfor %}
</table>
{% endblock %}
